---
title: "The smart choice"
---
{% include head.html %}
        <div>
            <!-- Carousel -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                  <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
              <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Welcome to Neptune</h1>
                                <p><a class="btn btn-lg btn-green" href="http://jamierocks.uk/2015/04/18/Introducing-NeptunePowered/" role="button" style="margin: 20px;">Introducing NeptunePowered</a> 
                                	<a class="btn btn-lg btn-orange" href="https://github.com/NeptunePowered" role="button">Source Code</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container">
                                <div class="carousel-caption">
                                    <div class="col-sm-6 col-md-6">
                                    	<h1>What is Neptune?</h1>
                                        <p>Neptune is an implementation of CanaryLib for both 'vanilla' Minecraft and Minecraft Forge. It aims to be the best and most lightweight implementation of CanaryLib.</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                    	<h1>What about CanaryMod?</h1>
                                        <p>We think that CanaryLib is a fantastic API, and felt the current implementation inadequately matches. We plan to make Neptune the faster and most lightweight implementation availiable.</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                	<h1>Join the Discussion</h1>
                                    <p></p>
                                    <h1>Join us at #neptune on irc.esper.net</h1>
                                </div>
                            </div>
                        </div>
                </div>
                <a class="left carousel-control" href="index.html#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="index.html#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /#templatemo-carousel -->
        </div>

        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center"><span class="txt_orange">Neptune</span>
                    <p class="txt_slogan"><i>When you need to make a smart choice.</i></p>
                </div>	
            </div>
        </div>
        
        <div class="templatemo-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="/images/open.svg" alt="icon" />
                                <span class="templatemo-service-item-header">Truly Open Source</span>
                            </div>
                            <p>Neptune's code is open source and freely available on GitHub.</p>
                            <div class="text-center">
                            	<a href="index.html#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item" >
                            <div>
                                <img src="/images/leaf.png" width="256" height="256" alt="icon"/>
                                <span class="templatemo-service-item-header">Lightweight</span>
                            </div>
							<p>Neptune is designed to be as lightweight as possible.</p>
							<div class="text-center">
                            	<a href="index.html#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="/images/heart.png" width="256" height="256" alt="icon"/>
                                <span class="templatemo-service-item-header">Mature API</span>
                            </div>
                            <p>Implementing CanaryLib, you have an incredibly powerful API at your disposal.</p>
                            <div class="text-center">
                                <a href="index.html#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <br class="clearfix"/>
                    </div>
                </div>
            </div>
        </div>
{% include foot.html %}
